 nav{
     background-color: antiquewhite;
     margin-bottom: 20px;
 }
  .vid{
    margin-top:20px;
    margin-right: 15px;;
}  
.side{
    margin-top:20px;
   
    
}
.side-text{
    margin-top:20px;
} 
.next{
    margin-top:50px;
}
